/* line 1, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_header.scss */
header {
  background-color: #6A5177;
  padding-top: 1rem; }
  /* line 4, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_header.scss */
  header p, header li, header a {
    color: #EFDFF8;
    font-family: "coquette", serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none; }

/* line 15, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_header.scss */
.all img {
  width: 75%; }

/* line 1, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_footer.scss */
footer {
  background-color: #6A5177;
  padding: 1rem 0; }
  /* line 4, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_footer.scss */
  footer p, footer li {
    color: #EFDFF8; }

/* line 1, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.dropdown {
  display: none; }

/* line 4, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
h3, p, li, label {
  font-family: "gibson", sans-serif;
  color: #6A5177; }

/* line 8, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
p {
  margin: 0; }

/* line 11, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
h1, h2, .browse {
  font-family: "coquette", serif;
  color: #6A5177;
  font-size: 2rem; }

/* line 17, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
h2 {
  background-color: #fff;
  padding-right: 0.2rem; }

/* line 21, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.browse p {
  background-color: #fff;
  z-index: 5;
  font-family: "coquette", serif;
  font-size: 1.6rem;
  padding-right: 0.3rem; }

/* line 29, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
#search h1 {
  background-color: #fff; }

/* line 33, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
a {
  text-decoration: none !important; }

/* line 37, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
p, li {
  text-decoration: none; }
  /* line 39, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
  p :hover, li :hover {
    text-decoration: none; }

/* line 45, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
header a:hover {
  color: #FCF2CB; }

/* line 49, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.none a:hover {
  color: #EFDFF8 !important; }

/* line 53, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
ul {
  padding-left: 0; }

/* line 56, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
img {
  width: 100%; }

/* line 59, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
li {
  list-style: none; }

/* line 62, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.yellow {
  background-color: #FCF2CB;
  padding: 1rem; }

/* line 67, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.purple {
  background-color: #EFDFF8;
  padding: 1rem;
  margin-top: 1rem; }

/* line 74, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.line {
  background-image: url(../images/dotted-line.png);
  background-repeat: no-repeat;
  z-index: -1;
  margin-top: 0.5rem; }

/* line 83, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.right .row {
  border-right: #6A5177 solid 0.2rem; }

/* line 86, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.right .desc {
  border-bottom: #6A5177 solid 0.2rem; }

/* line 92, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.left .row {
  border-left: #6A5177 solid 0.2rem; }

/* line 95, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.left .desc {
  border-bottom: #6A5177 solid 0.2rem; }

/* line 102, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
section {
  margin-bottom: 2rem; }

/* line 106, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.first {
  padding-top: 0; }

/* line 110, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.pattern {
  background-image: url(../images/pattern.png);
  background-repeat: no-repeat;
  background-size: cover; }
  /* line 114, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
  .pattern p, .pattern li, .pattern h2 {
    color: #EFDFF8;
    background-color: transparent; }

/* line 122, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.box li :hover {
  border: #FCF2CB solid 3px;
  background-color: #6A5177;
  border-radius: 1rem;
  color: #FCF2CB; }

/* line 133, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.btn-square-sm {
  width: 5rem !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 5rem !important;
  text-align: center;
  padding: 0px;
  font-size: 0.9rem;
  border: #FCF2CB solid 3px;
  background-color: #6A5177;
  border-radius: 1rem; }

/* line 146, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.news {
  padding: 1rem 0; }

/* line 150, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.news h2 {
  color: #FCF2CB;
  font-weight: 700; }

/* line 154, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
form #email {
  background-color: transparent;
  border: none;
  border-bottom: solid 0.2rem #FCF2CB; }

/* line 160, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
label {
  color: #FCF2CB;
  font-weight: 700; }

/* line 165, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
#submit {
  border-radius: 1rem;
  border: none;
  font-family: "gibson", sans-serif;
  font-weight: 700;
  background-color: #FCF2CB;
  margin: 0 auto; }

/* line 174, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.font {
  font-family: "gibson", sans-serif;
  font-size: 1.8rem;
  font-weight: 400; }

/* line 187, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.recipes .yellow h2 {
  background-color: #FCF2CB; }

/* line 190, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.recipes .purple h2 {
  background-color: #EFDFF8; }

/* line 194, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.hero img {
  padding: 1rem 0; }

/* line 197, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
#recipe li {
  list-style: disc; }

/* line 201, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
#recipe h1 {
  background-color: #fff; }

/* line 206, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.more li {
  list-style: none !important; }

/* line 214, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.steps h2 {
  background-color: transparent; }

/* line 217, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.steps li {
  padding: 0.2rem 0; }

/* line 222, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.background {
  background-image: url(../images/pattern-tall.png);
  background-repeat: none;
  background-size: cover; }

/* line 228, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.fill {
  background-color: #fff;
  border: #EFDFF8 solid 0.5rem;
  border-radius: 1rem;
  margin: 1rem; }
  /* line 233, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
  .fill li {
    margin-left: 1rem;
    padding-left: 1rem; }

/* line 240, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.outline {
  border: #6A5177 3px solid; }
  /* line 243, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
  .outline :hover {
    color: #6A5177; }
  /* line 246, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
  .outline a {
    color: #6A5177; }

/* line 251, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.response {
  font-family: "gibson", sans-serif;
  font-style: italic;
  padding-top: 1rem; }

/* line 256, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.dark-purple {
  background-color: #6A5177; }

/* line 261, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.stripes
h2 {
  background-color: transparent; }

/* line 265, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.white {
  background-color: #fff; }

/* line 269, ../../../Documents/coding/Recipe Site/Turner_Recipe/scss/custom/_body.scss */
.stripes {
  padding: 1rem 0; }

/*# sourceMappingURL=styles.css.map */